{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <div>
            <h4 class="connected"><strong>{{ users.username }}</strong><div class="connected_circle"></div></h4>
        </div>
    {% endif %}
    <div class="row">
        <h1>Formulaire de modification de la tâche : {{ task.title }}</h1>
        {{ form_start(form, {'action' : path('app_task_edit', { 'id' : task.id })}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right">Modifier</button>
        {{ form_end(form) }}
        <a class="btn btn-secondary" href="{{ path('app_task_list') }}">Retour</a>
    </div>
{% endblock %}
